* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.chart-wrapper {
    display: block;
    width: 500px;
    height: 600px;
    margin: auto;
}

hr {
    margin: 60px;
}
